parameters:
    level: 10
    phpVersion: 80402
    paths:
        - src
        - tests/unit

    ignoreErrors:
        # see https://github.com/phpstan/phpstan/issues/12099
        - '~^Binary operation "[\+\-]" between BcMath\\Number and BcMath\\Number results in an error\.$~'
